@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fcfbfb;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.home-title {
  font-weight: 100;
  font-size: 2em;
  color: #452e21;
  margin-top: 10px;
}

nav a,
#hero-msg h1,
#hero-msg h4,
#hero-msg h4 .button-box,
main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #b39c92;
}

header {
  background-color: #452e21;
}

footer {
  background-color: #b39c92;
}

nav a:hover {
  background-color: #b39c92;
  color: #452e21;
}

nav a,
footer p,
footer p a,
.social a,
.join {
  color: #ffffff;
  text-decoration: none;
}

footer p a:hover,
.join:hover {
  color: #651b03;
  text-decoration: none;
}

.logo,
.icon {
  width: 80px;
}

.msg {
  background-color: #b39c92;
  font-size: 1.5em;
}

#logo_link {
  padding-top: 5px;
}

nav a {
  padding: 35px;
}

.book,
.join {
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.icon {
  padding-top: 10px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

.msg {
  padding: 35px;
}

.msg p {
  padding-bottom: 15px;
}

footer {
  padding: 25px 50px;
  margin-top: 200px;
}

footer .social img {
  padding-top: 15px;
}

.card-img {
  border: 10px solid #452e21;
}

main section img {
  box-sizing: border-box;
}
